{% extends "ca_objects/base.html.twig" %}
{% block title %}
Object {{ ca_object.objectId }}: {{ ca_object.idno }}
{% endblock %}
{% block body %}

    <h3>{{ ca_object.objectLabels|length }} Label(s)</h3>
    <ol>
        {% for label in ca_object.objectLabels %}
            <li>{{ label.name }}</li>
        {% endfor %}
    </ol>


    <table class="table table-datatable js-datatable">
        <tbody>
            <tr>
                <th>ObjectId</th>
                <td>{{ ca_object.objectId }}</td>
            </tr>
            <tr>
                <th>IsTemplate</th>
                <td>{{ ca_object.isTemplate ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CommentingStatus</th>
                <td>{{ ca_object.commentingStatus ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TaggingStatus</th>
                <td>{{ ca_object.taggingStatus ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RatingStatus</th>
                <td>{{ ca_object.ratingStatus ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ViewCount</th>
                <td>{{ ca_object.viewCount }}</td>
            </tr>
            <tr>
                <th>Idno</th>
                <td>{{ ca_object.idno }}</td>
            </tr>
            <tr>
                <th>IdnoSort</th>
                <td>{{ ca_object.idnoSort }}</td>
            </tr>
            <tr>
                <th>SourceInfo</th>
                <td>{{ ca_object.sourceInfo }}</td>
            </tr>
            <tr>
                <th>HierObjectId</th>
                <td>{{ ca_object.hierObjectId }}</td>
            </tr>
            <tr>
                <th>HierLeft</th>
                <td>{{ ca_object.hierLeft }}</td>
            </tr>
            <tr>
                <th>HierRight</th>
                <td>{{ ca_object.hierRight }}</td>
            </tr>
            <tr>
                <th>Extent</th>
                <td>{{ ca_object.extent }}</td>
            </tr>
            <tr>
                <th>ExtentUnits</th>
                <td>{{ ca_object.extentUnits }}</td>
            </tr>
            <tr>
                <th>Access</th>
                <td>{{ ca_object.access ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ca_object.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ ca_object.deleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ ca_object.rank }}</td>
            </tr>
            <tr>
                <th>AclInheritFromCaCollections</th>
                <td>{{ ca_object.aclInheritFromCaCollections ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AclInheritFromParent</th>
                <td>{{ ca_object.aclInheritFromParent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AccessInheritFromParent</th>
                <td>{{ ca_object.accessInheritFromParent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AccessionSdatetime</th>
                <td>{{ ca_object.accessionSdatetime }}</td>
            </tr>
            <tr>
                <th>AccessionEdatetime</th>
                <td>{{ ca_object.accessionEdatetime }}</td>
            </tr>
            <tr>
                <th>DeaccessionSdatetime</th>
                <td>{{ ca_object.deaccessionSdatetime }}</td>
            </tr>
            <tr>
                <th>DeaccessionEdatetime</th>
                <td>{{ ca_object.deaccessionEdatetime }}</td>
            </tr>
            <tr>
                <th>IsDeaccessioned</th>
                <td>{{ ca_object.isDeaccessioned ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DeaccessionNotes</th>
                <td>{{ ca_object.deaccessionNotes }}</td>
            </tr>
            <tr>
                <th>CurrentLocClass</th>
                <td>{{ ca_object.currentLocClass ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CurrentLocSubclass</th>
                <td>{{ ca_object.currentLocSubclass }}</td>
            </tr>
            <tr>
                <th>CurrentLocId</th>
                <td>{{ ca_object.currentLocId }}</td>
            </tr>
            <tr>
                <th>DeaccessionDisposalSdatetime</th>
                <td>{{ ca_object.deaccessionDisposalSdatetime }}</td>
            </tr>
            <tr>
                <th>DeaccessionDisposalEdatetime</th>
                <td>{{ ca_object.deaccessionDisposalEdatetime }}</td>
            </tr>
            <tr>
                <th>SubmissionUserId</th>
                <td>{{ ca_object.submissionUserId }}</td>
            </tr>
            <tr>
                <th>SubmissionGroupId</th>
                <td>{{ ca_object.submissionGroupId }}</td>
            </tr>
            <tr>
                <th>SubmissionStatusId</th>
                <td>{{ ca_object.submissionStatusId }}</td>
            </tr>
            <tr>
                <th>SubmissionViaForm</th>
                <td>{{ ca_object.submissionViaForm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ca_objects_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('ca_objects_edit', ca_object.rp) }}">edit</a>

    {{ include('ca_objects/_delete_form.html.twig') }}
{% endblock %}
